.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 4rem;
}

form {
  background-color: #eef7e6;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  display: flex;
  position: relative;
  border-radius: 30px;
  width: 15rem;
  height: 27rem;
  margin-left: 6rem;
}

input,
label {
  margin: 0.5rem;
}

form input {
  border: 0;
  border-radius: 10px;
  background-color: #7bb062;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 1.5rem;
}

form img {
  width: 4rem;
}

#right {
  padding: 0 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#submit {
  background-color: #7bb062;
  padding: 0 3rem;
  margin: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  border: 0;
}

#right img {
  width: 22rem;
}

#title {
  background-color: #7bb062;
  justify-content: space-between;
  width: 35rem;
  border-radius: 4rem;
  margin-bottom: 1rem;
}

#title h1 {
  color: #bbe09e;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  padding: 3rem;
}
